# application files (mostly created on build or are tmp files)
app/node_modules
app/tmp
app/application/config/email.php
app/application/sessions/*git
app/application/logs/*
app/application/uploads/*
app/public/license/.licenses
app/public/license/bower.LICENSES
app/public/dist
app/public/tmp
app/app/public/uploads/*
app/dist/
app/public/bower_components

# allow company_logo to go to source
!app/app/public/uploads/company_logo.png

# other files
*.bash
*.swp
*.buildpath
*.project
*.settings/*
*vendor/

# shhh its a secret
*.env

# ide
.vscode