node_modules
tmp
application/config/email.php
application/sessions/*
application/logs/*
application/uploads/*
public/license/.licenses
public/license/bower.LICENSES
public/dist
dist/
public/bower_components
*.bash
.swp
.buildpath
.project
.settings/*
vendor/
.env

# ide
.vscode

# local files but kept out of source
package-lock.json