version: '2'
services:
    cbvposdev-php:
        container_name: cbvposdev-php
        image: joshtf/cbvposdev-php
        environment:
            - PHP_TIMEZONE=UTC
            - MYSQL_USERNAME=admin
            - MYSQL_PASSWORD=pointofsale
            - MYSQL_DB_NAME=cbvpos
            - MYSQL_HOST_NAME=cbvposdev-db
        links:
                - cbvposdev-db
        ports:
                - "80:80"
        volumes:
                - uploads:/app/public/uploads
                - ./:/app
    cbvposdev-db:
        container_name: cbvposdev-db
        image: joshtf/cbvposdev-db
        environment:
            - MYSQL_ROOT_PASSWORD=pointofsale
            - MYSQL_DATABASE=cbvpos
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=pointofsale
        ports:
                - "3306:3306"
        volumes:
                - ./database/cbvpos_import.sql:/docker-entrypoint-initdb.d/dump.sql
    cbvposdev-pma:
        container_name: cbvposdev-pma
        image: joshtf/cbvposdev-pma
        environment:
            - MYSQL_ROOT_PASSWORD=pointofsale
            - MYSQL_DATABASE=cbvpos
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=pointofsale
            - MYSQL_HOST_NAME=cbvposdev-db
        ports:
                - "8080:80"
volumes:
    uploads:
        driver: local