# https://github.com/josh-tf/cbvpos
# Docker-Compose file - using ver 3.7 (Docker Engine 18.06.0+)
# download and run php, mysql and phpmyadmin containers
# downloads node, php modules on build.

version: '3.7'
services:

    cbvposdev-php:
        container_name: cbvposdev-php
        environment:
            - PHP_TIMEZONE=UTC
            - MYSQL_USERNAME=admin
            - MYSQL_PASSWORD=pointofsale
            - MYSQL_DB_NAME=cbvpos
            - MYSQL_HOST_NAME=cbvposdev-db
        image: joshtf/cbvposdev-php
        links:
                - cbvposdev-db
        ports:
                - "80:80"
        restart: always
        volumes:
                - uploads:/app/public/uploads
                - ./:/app

    cbvposdev-db:
        container_name: cbvposdev-db
        environment:
            - MYSQL_ROOT_PASSWORD=pointofsale
            - MYSQL_DATABASE=cbvpos
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=pointofsale
        image: joshtf/cbvposdev-db
        ports:
                - "3306:3306"
        restart: always
        volumes:
                - ./database/cbvpos_import.sql:/docker-entrypoint-initdb.d/dump.sql

    cbvposdev-pma:
        container_name: cbvposdev-pma
        environment:
            - MYSQL_ROOT_PASSWORD=pointofsale
            - MYSQL_DATABASE=cbvpos
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=pointofsale
            - MYSQL_HOST_NAME=cbvposdev-db
            - PMA_HOST=cbvposdev-db
        image: joshtf/cbvposdev-pma
        links:
                - cbvposdev-db
        ports:
                - "8080:80"
        restart: always

# Build containers
#   - build composer installs codeigniter
#   - build-php installs php modules
#   - build-nodejs installs node and bower modules

    cbvposdev-build-composer:
        container_name: cbvposdev-build-composer
        image: composer/composer
        command: "install"
        volumes:
                - ./:/app

    cbvposdev-build-php:
        container_name: cbvposdev-build-php
        image: lucor/php7-cli
        command: "php bin/install.php translations develop"
        volumes:
                - ./:/app

    cbvposdev-build-nodejs:
        container_name: cbvposdev-build-nodejs
        image: digitallyseamless/nodejs-bower-grunt
        command: bash -c "cd /app && npm install && bower install"
        volumes:
                - ./:/app

volumes:
    uploads:
        driver: local