# https://github.com/josh-tf/cbv-pos  - Josh Bowden 2019-04-01
# Docker-Compose file - using ver 2 for compatibility
# download and run php, mysql and phpmyadmin containers
# downloads node, php modules on build.

version: "2"
services:
  cbv-dev-pos-php:
    container_name: cbv-pos-dev-php
    environment:
      - PHP_TIMEZONE=Australia/Melbourne
      - MYSQL_DB_NAME=cbv-pos
      - MYSQL_USERNAME=admin
      - MYSQL_PASSWORD=pointofsale
      - MYSQL_HOST_NAME=cbv-dev-db
    image: joshtf/cbv-php
    links:
      - cbv-dev-db
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./cbv-pos/app:/app

  cbv-dev-db:
    container_name: cbv-dev-db
    environment:
      - MYSQL_USER=admin
      - MYSQL_DATABASE=cbv-pos
      - MYSQL_PASSWORD=pointofsale
      - MYSQL_ROOT_PASSWORD=pointofsale
    image: mysql:5.7
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - ./cbv-pos/deploy/dummy-db/cbvpos_import.sql:/docker-entrypoint-initdb.d/dump.sql

  cbv-dev-pma:
    container_name: cbv-dev-pma
    environment:
      - PMA_HOST=cbv-dev-db
    image: phpmyadmin/phpmyadmin
    links:
      - cbv-dev-db
    ports:
      - "8080:80"
    restart: always

  # Build containers
  #   - build composer installs codeigniter
  #   - build-php installs php modules
  #   - build-nodejs installs node and bower modules

  cbv-dev-pos-build-composer:
    container_name: cbv-dev-pos-build-composer
    image: composer/composer
    command: "install"
    volumes:
      - ./cbv-pos/app:/app

  cbv-dev-pos-build-php:
    container_name: cbv-dev-pos-build-php
    image: lucor/php7-cli
    command: "php /app/deploy/scripts/install.php translations develop"
    volumes:
      - ./cbv-pos:/app

  cbv-dev-pos-build-nodejs:
    container_name: cbv-dev-pos-build-nodejs
    image: digitallyseamless/nodejs-bower-grunt
    command: bash -c "cd /app && npm install && bower install"
    volumes:
      - ./cbv-pos/app:/app

volumes:
  uploads:
    driver: local
