#register_wrapper {
	float: left;
	width: 70%;
	font-size: 13px;
}

#mode_form,
#add_item_form {
	margin: 0;
}

#mode_form .panel-body,
#add_item_form .panel-body {
	padding: 0.7em;
	margin: 0;
}

#mode_form {
	background-color: #DDD;
	margin-bottom: 5px;
}

#mode_form ul,
#add_item_form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#mode_form ul li,
#add_item_form ul li {
	margin-left: 1em;
}

.first_li {
	margin-left: 0.2em !important;
}

#mode_form ul.dropdown-menu.inner,
#add_item_form ul.dropdown-menu.inner {
	margin-left: -1em !important;
}

#add_item_form {
	background-color: #BBB;
	margin-bottom: 5px;
}

#register {
	padding: 0;
	border-collapse: collapse;
}

#register th {
	background-color: #999;
	padding: 5px;
	text-align: center;
	color: #FFF;
}

#register td {
	background-color: #EEE;
	padding: 3px;
	text-align: center;
}

#overall_sale {
	width: 29%;
	float: left;
	margin-left: 5px;
	padding-bottom: 1em;
	padding-top: 1em;
	background-color: #BBB;
	font-size: 13px;
	text-align: center;
}

#overall_sale .panel-body {
	padding-top: 0;
	padding-bottom: 0;
}

#overall_sale .form-group {
	margin: 0;
}

#overall_sale .btn {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#payment_details,
#buttons_sale,
#suspended_sales_table {
	width: 100%;
}

.sales_table_100 {
	width: 100%;
}

#sale_totals,
#payment_totals {
	border-top: 1px solid #000;
}

input#amount_tendered:disabled {
	display: none;
}

#payment_details {
	float: left;
	border-top: 1px solid #000;
	background-color: #DDD;
	margin-top: 0.2em;
	padding: 0.5em;
	text-align: left;
	clear: both;
}

.alert {
	margin-bottom: 5px;
}

/* CSS for when the register is not in sales mode
*/

.non-sale#mode_form {
	background-color: #6f0000;
}

.non-sale#add_item_form,
.non-sale#overall_sale {
	background-color: #ff7676;
	color: #fff;
}

.non-sale {
	color: #7d0000;
}

.non-sale.panel-body {
	color: #ffffff;
}

.non-sale#register td {
	background-color: #ffc6c6;
}

.non-sale#register th {
	background-color: #6f0000;
}

.non-sale#register td {
	background-color: #ffc6c6;
}

.non-sale.btn-info,
.non-sale.btn-primary {
	background-color: #7d0000;
	border-color: #230000;
	color: #fff;
}

.non-sale.btn-info:hover,
.non-sale.btn-primary:hover,
.non-sale.btn-primary:active:hover,
.non-sale.btn-info:active,
.non-sale.btn-primary:active,
.non-sale.btn-info:active:hover,
.non-sale.btn-info:hover,
.non-sale.btn-info:focus,
.non-sale.btn-primary:focus,
.non-sale.btn-primary.focus {
	background-color: #420000;
	border-color: #230000;
	color: #fff;
}

.non-sale#sale_totals,
.non-sale#payment_totals {
	border-top: 1px solid #6f0000;
}

.non-sale#payment_details {
	border-top: 1px solid #6f0000;
	background-color: #ffc6c6;
}

.non-sale a.modal-dlg {
    color: #6f0000;
}

/* Register improvements */

.sale-list {
	background: #e2e2e2 !important;
	border-bottom: 2px solid #828282;
}

.non-sale.sale-list {
	background: #faa !important;
	border-bottom: 2px solid #d84e4e;
}

#register tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

#register tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

#register tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
	border-bottom: none;
}

#register tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}

.panel {
	border-radius: 6px;
}

.form-horizontal .control-label {
	padding-top: 6px;
}

