.al-right {
    text-align: right !important;
}
#company-title
{
	padding-left: 20px;
	width: 50%;
}
#customer-title
{
	text-align: right;
}
.disc {
    border: 1px solid #777 !important;
    text-align: center;
}
#header
{
	background-color: #222222;
	color: white;
	font-size: 26px;
	font-weight: bold;
	height: 30px;
	letter-spacing: 4px;
	margin: 20px 0 50px 0;
	padding: 8px 0px;
	text-align: center;
	width: 100%;
}
#image
{
	height: 120px;
	width: 163px;
}
#info
{
	margin: 10px 0 30px 0;
	width: 100%;
}
#items
{
	border: 1px solid #777;
	clear: both;
	margin: 10px 0 0 0;
	width: 100%;
}
#items td.balance
{
	background: #eee;
}
#items td.blank
{
	border: 0;
}
#items td.blank
{
	border: 0;
}
#items td.blank-bottom
{
	border: 1px;
}
#items td.description
{
	width: 300px;
}
#items td.description textarea,
#items td.item-name textarea
{
	width: 100%;
}
#items td.item-description textarea
{
	height: auto;
	width: 100%;
}
#items td.item-name
{
	width: 175px;
}
#items td.total-line
{
	border-right: 0;
	font-weight: bold;
	text-align: center;
}
#items td.total-line textarea
{
	background: none;
	height: 20px;
	width: 150px;
}
#items td.total-value
{
	border-left: 0;
	padding: 10px;
}
#items td.total-value textarea
{
	background: none;
	height: 20px;
}
#items textarea
{
	height: 20px;
	text-align: center;
	width: 80px;
}
#items th
{
	background: #eee;
	text-align: center;
}
#items tr.item-row td
{
	border-left: 0;
	border-right: 0;
	vertical-align: top;
}
#logo
{
	border: 1px solid #ffffff;
	overflow: hidden;
	text-align: left;
	width: 50%;
}
#logo img
{
	max-height: 150px;
	max-width: 270px !important;
}
#logo:hover #logoctr,
#logo.edit #logoctr
{
	background: #eee;
	display: block;
	line-height: 25px;
	padding: 0 5px;
	text-align: right;
}
#logoctr
{
	display: none;
}
#logohelp
{
	display: none;
	font-style: italic;
	padding: 10px 5px;
	text-align: left;
}
#logohelp input
{
	margin-bottom: 5px;
}
#menubar,
#footer
{
	display: none;
}
#meta td
{
	text-align: right;
}
#meta td.meta-head
{
	background: #eee;
	text-align: left;
}
#page-wrap
{
	font-family: Helvetica;
}
#page-wrap
{
	margin: 0 auto;
	width: 750px;
}
#page-wrap #info td, #page-wrap #info th
{
	border: none;
}
#page-wrap #meta table td,
#page-wrap table th
{
	border: 1px solid #777;
	padding: 5px;
}
#page-wrap table
{
	border-collapse: collapse;
}
#page-wrap table td,
#page-wrap table th
{
	border: 1px solid #777;
	padding: 5px;
}
#page-wrap table#items td
{
	padding: 10px;
}
#terms
{
	margin: 20px 0 0 0;
	text-align: center;
}
#terms div
{
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}
#terms h5
{
	border-bottom: 1px solid #777;
	font-size: 13px;
	letter-spacing: 10px;
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	text-transform: uppercase;
}
#terms textarea
{
	text-align: center;
	width: 100%;
}
*
{
	margin: 0;
	padding: 0;
}
.customer-info
{
	background: #eee;
	border: 1px solid #333 !important;
	float: right;
	margin-top: 0px;
	padding: 5px;
	width: 200px;
}
.delete
{
	background: #eee;
	border: 1px solid;
	color: #000;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	left: -22px;
	padding: 0px 3px;
	position: absolute;
	text-decoration: none;
	top: -6px;
}
.delete-wpr
{
	position: relative;
}
.edit #image,
#save-logo,
#cancel-logo,
.edit #change-logo,
.edit #delete-logo
{
	display: none;
}
.edit #logohelp
{
	display: block;
}
.edit #save-logo,
.edit #cancel-logo
{
	display: inline;
}
.inv-comments
{
	border-bottom: solid 1px #777;
	padding: 30px 0 50px 0;
}
body
{
	font-family: Helvetica;
	font-size: 13px;
}
div#tax-invoice
{
	font-size: 1.5em;
	margin-bottom: 20px;
	text-align: left;
}
pre
{
	font-family: Helvetica;
	font-size: 13px;
}
table#info
{
	margin-top: 50px;
}
table.invoice-meta
{
	margin-top: -55px;
}
table.invoice-meta
{
	margin-top: -50px;
}
td.item-description
{
	background: #efefef;
	border-bottom: 2px solid #777 !important;
	border-top: 1px solid #777 !important;
	text-align: left;
}
tr.item-row
{
	border-top: 1px solid #777 !important;
	text-align: center;
}
.pagebreak
{
	page-break-before: always;
}
.computer-info
{
	padding-top: 50px;
	font-size: 0.9em;
	line-height: 14px;
}
.Thankyou-Note
{
	font-weight: bold;
	margin: 35px auto 35px auto;
	text-align: center;
}
#sale_return_policy {
    margin: 35px auto 35px auto;
    text-align: center;
    width: 80%;
}

/* Fix alignment in new DomPDF */
table.invoice-meta {
    margin-right: 0;
    margin-left: auto;
}