#block2
{
	overflow: hidden;
	padding-top: 35px;
	width: 100%;
}
#company-title
{
	float: left;
}
#customer-title
{
	float: right;
	height: 100px;
	margin-top: 40px;
}
#customer-title textarea
{
	background: #eee !important;
	border: 1px solid #777 !important;
	padding: 5px;
    width: 300px;
    text-align:right;
}
#header
{
	background: #d1541a;
	color: white;
	font-size: 2.0em;
	font-weight: bold;
	letter-spacing: 4px;
	margin: 20px 0;
	padding: 10px 0;
	text-align: center;
}
#items
{
	border: 1px solid #777;
	clear: both;
	margin: 10px 0 0 0;
	width: 100%;
}
#items td.balance
{
	background: #eee;
}
#items td.blank
{
	border: 0;
}
#items td.blank-bottom
{
	border: 1px;
}
#items td.description
{
	width: 300px;
}
#items td.description textarea,
#items td.item-name textarea
{
	width: 100%;
}
#items td.item-description textarea
{
	height: auto;
	width: 100%;
}
#items td.item-name
{
	width: 175px;
}
#items td.total-line
{
	border-right: 0;
	font-weight: bold;
	text-align: center;
}
#items td.total-line textarea
{
	background: none;
	height: 20px;
	width: 150px;
}
#items td.total-value
{
	border-left: 0;
	padding: 10px;
}
#items td.total-value textarea
{
	background: none;
	height: 20px;
}
#items textarea
{
	height: 20px;
	text-align: center;
	width: 80px;
}
#items th
{
	background: #eee;
	text-align: center;
}
#items tr.item-row td
{
	border-left: 0;
	border-right: 0;
	vertical-align: top;
}
#logo
{
	border: 1px solid #fff;
	float: left;
	max-height: 150px;
	overflow: hidden;
	position: relative;
	text-align: right;
}
#logo img
{
	max-height: 150px;
	max-width: 270px !important;
}
#logo:hover #logoctr,
#logo.edit #logoctr
{
	background: #eee;
	display: block;
	line-height: 25px;
	padding: 0 5px;
	text-align: right;
}
#logoctr
{
	display: none;
}
#logohelp
{
	display: none;
	font-style: italic;
	padding: 10px 5px;
	text-align: left;
}
#logohelp input
{
	margin-bottom: 5px;
}
#meta
{
	float: right;
	margin-top: -22px;
	width: 300px;
}
#meta td
{
	text-align: right;
}
#meta td textarea
{
	height: 20px;
	text-align: right;
	width: 100%;
}
#meta td.meta-head
{
	background: #eee;
	font-weight: bold;
	text-align: left;
}
#page-wrap
{
	font-family: Helvetica !important;
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}
#page-wrap table
{
	border-collapse: collapse;
}
#page-wrap table td
{
	padding: 5px;
}
#page-wrap table td,
#page-wrap table th
{
	border: 1px solid #777;
	padding: 5px;
}
#page-wrap textarea
{
	border: 0;
	font-family: Helvetica;
	font-size: 14px;
	overflow: hidden;
	resize: none;
}
#terms
{
	margin: 20px 0 0 0;
	text-align: center;
}
#terms h5
{
	border-bottom: 1px solid #777;
	font-size: 13px;
	letter-spacing: 10px;
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	text-transform: uppercase;
}
#terms textarea
{
	text-align: center;
	width: 100%;
}
*
{
	margin: 0;
	padding: 0;
}
.delete
{
	background: #EEEEEE;
	border: 1px solid;
	color: #000;
	display: block;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	left: -22px;
	padding: 0px 3px;
	position: absolute;
	text-decoration: none;
	top: -6px;
}
.delete-wpr
{
	position: relative;
}
.edit #image,
#save-logo,
#cancel-logo,
.edit #change-logo,
.edit #delete-logo
{
	display: none;
}
.edit #logohelp
{
	display: block;
}
.edit #save-logo,
.edit #cancel-logo
{
	display: inline;
}
.tab-content
{
	border: 1px solid #ddd;
	border-top: none;
	padding-top: 15px;
}
div#company_name
{
	font-size: 150%;
	text-align: left;
}
div#tax-invoice
{
	font-size: 1.5em;
	margin-top: -15px;
	text-align: left;
}
td.item-description
{
	background: #efefef;
	border-bottom: 2px solid #777 !important;
	border-top: 1px solid #777 !important;
	text-align: left;
}
tr.item-row
{
	border-bottom: 1px #777 solid !important;
	text-align: center;
}