#receipt_wrapper {
	width: 100%;
}

#receipt_header {
	text-align: center;
}

#conc_id {
	font-size: 150%;
	font-weight: bold;
}

#company_phone {
	margin-bottom: 15px;

}

#sale_time {
	margin-bottom: 5px;
}

#receipt_items {
	position: relative;
	border-collapse: collapse;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

#receipt_items td {
	position: relative;
	padding: 3px;
	margin-bottom: 5px;

}

#receipt_items tr {
	margin-bottom: 5px;
}

#sale_return_policy {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#receipt_wrapper #barcode {
	margin-top: 10px;
	text-align: center;
}

.total-value {
	text-align: right;
}

.discount {
	font-weight: bold;
}

@media all {
	.page-break {
		display: none;
	}
}

@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
}

.computer-info {
	font-size: 0.9em;
	line-height: 14px;
}

hr {
	margin-bottom: 0px;
}

.Thankyou-Note {
	text-align: center;
	margin: 35px auto 35px auto;
	font-weight: bold;
}

#sale_return_policy {
	width: 80%;
	margin: 35px auto 35px auto;
	text-align: center;
}

.block2r {
	padding-top: 0;
	padding-bottom: 20px;
}
.pagebreak { page-break-before: always; }

.disc {
    border: 1px solid black !important;
    text-align: center;
}

.al-right{
	text-align: right !important;
}