#company_phone
{
	margin-bottom: 15px;
}
#conc_id
{
	font-size: 150%;
	font-weight: bold;
}
#page-wrap
{
	font-family: Helvetica;
}
#receipt_header
{
	text-align: center;
}
#receipt_items
{
	border-collapse: collapse;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}
#receipt_items td
{
	margin-bottom: 5px;
	padding: 3px;
	position: relative;
}
#receipt_items tr
{
	margin-bottom: 5px;
}
#receipt_wrapper
{
	width: 100%;
}
#receipt_wrapper #barcode
{
	margin-top: 10px;
	text-align: center;
}
#sale_return_policy
{
	margin: 0 auto;
	text-align: center;
	width: 80%;
}
#sale_return_policy
{
	margin: 35px auto 35px auto;
	text-align: center;
	width: 80%;
}
#sale_time
{
	margin-bottom: 5px;
}
.al-right
{
	text-align: right !important;
}
.block2r
{
	padding-top: 0;
}
.computer-info
{
	font-size: 0.9em;
	line-height: 14px;
}
.disc
{
	border: 1px solid #777 !important;
	text-align: center;
}
.discount
{
	font-weight: bold;
}
.pagebreak
{
	page-break-before: always;
}
.Thankyou-Note
{
	font-weight: bold;
	margin: 35px auto 35px auto;
	text-align: center;
}
.total-value
{
	text-align: right;
}
@media all
{
	.page-break
	{
		display: none;
	}
}
@media print
{
	.page-break
	{
		display: block;
		page-break-before: always;
	}
}
hr
{
	margin-bottom: 0px;
}
.computer-info h4 {
    font-family: Helvetica;
}