#register_wrapper {
	float: left;
	width: 70%;
	font-size: 13px;
}

#mode_form,
#add_item_form {
	margin: 0;
}

#mode_form .panel-body,
#add_item_form .panel-body {
	padding: 0.7em;
	margin: 0;
}

#mode_form {
	background-image: linear-gradient(#eee, #ddd);
	margin-bottom: 5px;
}

#mode_form ul,
#add_item_form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#mode_form ul li,
#add_item_form ul li {
	margin-left: 1em;
}

.first_li {
	margin-left: 0.2em !important;
}

#mode_form ul.dropdown-menu.inner,
#add_item_form ul.dropdown-menu.inner {
	margin-left: -1em !important;
}

#add_item_form {
	background-image: linear-gradient(#eee, #ddd);
	margin-bottom: 5px;
}

#register {
	padding: 0;
	border-collapse: collapse;
}

#register th {
	padding: 5px;
	text-align: center;
	color: #333;
	background-image: linear-gradient(#eee, #ddd);
	border-bottom: 1px solid #d6d6d6;
}

#register td {
	background-color: #EEE;
	padding: 3px;
	text-align: center;
}

#overall_sale {
	width: 29%;
	float: left;
	margin-left: 5px;
	padding-bottom: 1em;
	padding-top: 1em;
	font-size: 13px;
	text-align: center;
    background-image: linear-gradient(#eee, #ddd);
    border: 1px solid #bbb;
}

#overall_sale .panel-body {
	padding-top: 0;
	padding-bottom: 0;
}

#overall_sale .form-group {
	margin: 0;
}

#overall_sale .btn {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#payment_details,
#buttons_sale,
#suspended_sales_table {
	width: 100%;
}

.sales_table_100 {
	width: 100%;
}

#sale_totals,
#payment_totals {
	border-top: 1px solid #b9b9b9;
}

input#amount_tendered:disabled {
	display: none;
}

#payment_details {
	float: left;
	border-top: 1px solid #b9b9b9;
	margin-top: 0.2em;
	padding: 0.5em;
	text-align: left;
	clear: both;
}

.alert {
	margin-bottom: 5px;
}

/* CSS for when the register is not in sales mode
*/

.non-sale#mode_form {
	background-image: linear-gradient(#f75a4e, #8a1e16);
}

.non-sale#add_item_form,
.non-sale#overall_sale {
	background-image: linear-gradient(#fdd, #e4abab);
	color: #860000;
}

.non-sale {
	color: #860000;
}

.non-sale.panel-body {
	color: #ffffff;
}

.non-sale#register td {
	background-color: #ffc6c6;
}

.non-sale#register th {
    background-image: linear-gradient(#ff9f9f, #ea5252);
    color: #860000;
}

.non-sale#register td {
	background-color: #ffc6c6;
}

.non-sale.btn-info, .non-sale.btn-primary {
    background-image: linear-gradient(#d6362a, #801d15);
    border-color: #8a1e16;
    color: #fff;
}

.non-sale.btn-info:hover,
.non-sale.btn-primary:hover,
.non-sale.btn-primary:active:hover,
.non-sale.btn-info:active,
.non-sale.btn-primary:active,
.non-sale.btn-info:active:hover,
.non-sale.btn-info:hover,
.non-sale.btn-info:focus,
.non-sale.btn-primary:focus,
.non-sale.btn-primary.focus {
	background-color: #420000;
	border-color: #230000;
	color: #fff;
}

.non-sale#sale_totals,
.non-sale#payment_totals {
	border-top: 1px solid #6f0000;
}

.non-sale#payment_details {
	border-top: 1px solid #6f0000;
}

.non-sale a.modal-dlg {
	color: #6f0000;
}

/* Register improvements */

.sale-list {
    background-image: linear-gradient(#eee, #ddd);
    border-top: 1px solid #d6d6d6;
}

.non-sale.sale-list {
    background-image: linear-gradient(#faa, #ff8080);
    color: #8f2119 !important;
}

#register tr:first-child th:first-child {
	border-top-left-radius: 4px;
}

#register tr:first-child th:last-child {
	border-top-right-radius: 4px;
}

#register tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
	border-bottom: none;
}

#register tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.panel {
	border-radius: 4px;
}

.form-horizontal .control-label {
	padding-top: 6px;
}

.btn-success {
    background-image: linear-gradient(#38b44a, #286d32);
    border-color: #2d7337;
}

.btn-success:hover {
    color: #ffffff;
    background-image: linear-gradient(#319840, #205828);
    border-color: #2d7337;
}

.btn-danger {
    color: #ffffff;
    background-image: linear-gradient(#df382c, #771a13);
    border-color: #8a1e16;
}

.btn-danger:hover {
    color: #ffffff;
    background-image: linear-gradient(#c13127, #611610);
    border-color: #8a1e16;
}

/* Non Sale */
.non-sale.button.btn.dropdown-toggle.btn-default.btn-sm {
    background: #ff9595;
    border: 2px solid #6f0000;
    color: #97251d;
}
.non-sale.btn-default {
    color: #8f2118 !important;
    background-image: linear-gradient(#fedbdb, #e6afaf);
    border: 1px solid #9e2920 !important;
}
.non-sale.sale-list {
    border-top: 1px solid #e4abab;
}
.non-sale.button.btn.dropdown-toggle.btn-sm {
    background-color: #ef554a !important;
}
.open>.non-sale.dropdown-toggle.btn-default {
	background-image: linear-gradient(#ffaaaa, #bf3f3f);
}

input.form-control.input-sm.center {
    text-align: center;
}

.label-darkblue {
    background-color: #0d006f;
}